@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Where The Wild Items Are</h1>
    <p class="lead">"Там, где живут атеймы" - новый взгляд на коллекционирование. Создайте свою уникальную коллекцию или
    воспользуйтесь поиском по сайту чтобы посмотреть имеющиеся.</p>
    <p><a href="https://www.kinopoisk.ru/film/77418/" class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>