<div class="nav navbar-nav nav-link text-dark">
    <select id="tag" name="tag">
        <option value="Movies">Movies</option>
        <option value="Alcohol">Alcohol</option>
        <option value="Books">Books</option>
        <option value="Flowers">Flowers</option>
        <option value="DogPhoto">DogPhoto</option>
    </select>
</div>